body {
    background-color:lightcyan
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 5px 5px 25px 5px;
}

.title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

#titleName {
    margin-bottom: 0px !important;
}

.custLinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.empLink {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 10px 30px 20px;
    border-radius: 5px;
}

#empLinkId {
    margin: 5px 30px 10px 30px;
    border-radius: 5px;
    background-color:azure;
    font-family:'Segoe UI';
}

#empLinkId:hover {
    background-color: cadetblue;
    color: azure;
}

#checkinlink {
    margin: 10px 30px 5px 30px;
    border-radius: 5px;
    background-color:azure;
    font-family:'Segoe UI';
}

#checkinlink:hover {
    background-color: cadetblue;
    color: azure;
}

#checkoutlink {
    margin: 10px 30px 5px 30px;
    border-radius: 5px;
    background-color:azure;
    font-family:'Segoe UI';
}

#checkoutlink:hover {
    background-color: cadetblue;
    color: azure;
}

#homepagelink {
    margin: 10px 30px 5px 30px;
    border-radius: 5px;
    background-color:azure;
    font-family:'Segoe UI';
}

#homepagelink:hover {
    background-color: cadetblue;
    color: azure;
}

.services {
    text-indent: 50px;
}
