body {
    background-color:tan;
}
h1 {
    color:darkolivegreen;
    font-family: "Monaco", "Lucida Console", Sans-serif
}
h2 {
    color:olivedrab;
}
h3 {
    color:honeydew;
    font-family: "Monaco", "Lucida Console", Sans-serif
}
p > span {
    color:yellow;
    font-weight:bold;
}
p::first-letter{
    color:darkolivegreen;
    font-size:large;
}